:root {
  --glow: #00BFA5;
  --bg: #000000;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#cortana-halo{
    width: 100vw;
    height: 50vh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: fixed;
    top: 0;
}
#text-field{
    height: 12.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: #1e1e1e;
    position: fixed;
}
#cortana-text{
    width: 100vw;
    min-height: calc(80vh - 12.5vh);
    height: auto;
    margin-top: 50vh;
    background-color: #333333;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}
#circle {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: transparent;
    border: 8px solid #ffffff;
    /*box-shadow: 0 0 80px 40px #3498db, inset 0 0 25px 12.5px #3498db;*/
    box-shadow: 0 0 40px 20px var(--glow), inset 0 0 25px 12.5px var(--glow);
    transition: width 0.1s, height 0.1s;
}
#input-box{
    width: 85vw;
    min-height: 65%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #111111;
    color: #ffffff;
    font-size: 1rem;
    font-family: monospace;
}
logo{
    z-index: 1;
    font-family: monospace;
    font-size: 1.5rem;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
}
.chat{
    width: 80%;
    height: auto;
    background-color: #222222;
    margin-left: 5%;
    margin-top: 5%;
    padding: 5%;
    font-family: monospace;
    color: #ffffff;
    font-size: 0.9rem;
    border-radius: 15px;
}
#chatarea{
    overflow-x: hidden;
    overflow-y: hidden;
}